.bread-crumbs {
  .bread-crumb {
    display: inline-flex;
    align-items: center;

    svg {
      height: 1em;
      width: 1em;
      fill: currentColor;
      margin-right: .25em;
      opacity: .5;
    }

    .label {
      opacity: .75;
    }
  }
}
