<DocsHero
        @prefix="JF Technology"
        @heading="Ember Route Metadata"
        @byline="Components, services and helpers built on Ember Route Metadata"
/>

<p class="p-5">
  Breadcrumbs, page title management, and transition aware window scrolling leveraging the new
  <a href="https://github.com/emberjs/rfcs/blob/master/text/0398-RouteInfo-Metadata.md">[0398-RouteInfo-Metadata]</a>
  feature.
</p>