<span
  {{on 'click' this.transition}}
        class="bread-crumb"
        role="button"
        ...attributes
>
  <svg class="icon">
    <use xlink:href="{{this.icon}}"/>
  </svg>
  <span class="label">
    {{this.text}}
  </span>
</span>